@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{ @RenderSection("Styles", false)}
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link @Html.IsActive("Manage", "Account")" href="@Url.Action("Manage", "Account")">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Html.IsActive("ChangeName", "Account")" href="@Url.Action("ChangeName", "Account")">ФИО</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @Html.IsActive("ChangeEmail", "Account")" href="@Url.Action("ChangeEmail", "Account")">Email</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts{ @RenderSection("Scripts", false)}